{% load static %}

<html>
    <head>   
        <title>루나시안의 블로그</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div calss="page-header">
            <h1><a href="/">Lunatian's Blog</a></h1>
        </div>

        {% for post in posts %} 
            <div class="post">                            
                <div calss="date"><p>배포일 : {{ post.published_date }} </p></div>   
                <h1><a href=""> {{ post.title }}</a></h1>                             
                <p>{{ post.text|linebreaksbr }}</p>
            </div>            
        {% endfor %}

       
    </body>
</html>